/* .gridContainer{
    width: 350px;
    padding: 10px;
    margin: 10px;
    float: left;
   
} */

/* .gridItem {
    text-align: center;
}

.paper{
    padding: 5px;
} */


.workoutCard{
    width: 300px;
    margin: 10px;
    float: left;
}

.workoutItem {
    text-align: center;
}